@* Prevents unauthorized users from accessing the page *@
@attribute [Authorize(Roles = Sd.Role_Admin)]

@page "/product/create"
@page "/product/edit/{id:int}"

@inject IProductRepository _productRepository
@inject ICategoryRepository _categoryRepository
@inject IFileUploadService _fileUploadService
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager

<div class="row my-2">
    <h3 class="card-title text-success mb-3">@Title Product</h3>
    <div class="col-md-10">
        @if (!IsLoading)
        {
            <EditForm Model="@Product" OnValidSubmit="@UpsertProduct">
                <DataAnnotationsValidator />
                @* <ValidationSummary /> *@
                <div class="form-group mb-3">
                    <label for="name" class="form-label">Name</label>
                    <InputText id="name" @bind-Value="Product.Name" class="form-control" />
                    <ValidationMessage For="() => Product.Name" />
                </div>
                <div class="form-group mb-3">
                    <label for="color" class="form-label">Color</label>
                    <InputText id="color" @bind-Value="Product.Color" class="form-control" />
                </div>
                <div class="form-group mb-3">
                    <label for="description" class="form-label">Description</label>
                    <SfRichTextEditor id="description" @bind-Value="Product.Description" />
                    <ValidationMessage For="() => Product.Description" />
                </div>
                <div class="row py-2">
                    <div class="col-4 form-group">
                        <label class="form-check-label" for="category">Category</label>
                        <InputSelect id="category"
                                     @bind-Value="Product.CategoryId"
                                     class="form-select">
                            <option value="0" disabled selected>-- Select Category --</option>
                            @foreach (var category in Categories)
                            {
                                <option value="@category.Id">@category.Name</option>
                            }
                        </InputSelect>
                        <ValidationMessage For="() => Product.CategoryId" />
                    </div>
                    <div class="col-4 form-group align-self-end">
                        <div class="form-check">
                            <InputCheckbox id="shopFavorite" @bind-Value="Product.IsShopFavorite" class="form-check-input" />
                            <label class="form-check-label" for="shopFavorite">Is Shop Favorite</label>
                        </div>
                    </div>
                    <div class="col-4 form-group align-self-end">
                        <div class="form-check">
                            <InputCheckbox id="custFavorite"
                                           @bind-Value="Product.IsCustomerFavorite"
                                           class="form-check-input" />
                            <label class="form-check-label" for="custFavorite">Is Customer Favorite</label>
                        </div>
                    </div>
                </div>
                <div class="form-group my-3">
                    <label for="productImg" class="form-label">Upload Image</label>
                    <InputFile id="productImg" OnChange="HandleImageUpload" accept=".jpg,.jpeg,.png,.webp" class="form-control" />
                </div>
                <div class="form-group">
                    <button class="btn btn-dark" type="submit">@ButtonText</button>
                    <NavLink href="/product" class="btn btn-secondary">Back to Products</NavLink>
                </div>
            </EditForm>
        }
        else
        {
            <_Loader />
        }
    </div>
    <div class="col-md-2">
        <img src="@Product.ImageUrl" alt="" class="w-100" />
    </div>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private ProductDto Product { get; set; } = new()
    {
        ImageUrl = "images/default.png"
    };
    private IEnumerable<CategoryDto> Categories { get; set; } = new List<CategoryDto>();
    private string Title { get; set; } = "Create";
    private string ButtonText => Product.Id == 0 ? "Create" : "Update";
    private bool IsLoading { get; set; }
    private string OldImageUrl { get; set; } = string.Empty;

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProductAsync();
        }
    }

    private async Task LoadProductAsync()
    {
        IsLoading = true;
        StateHasChanged();

        Categories = await _categoryRepository.GetAllAsync();

        if (Id == 0)
        {
            // Create
            Title = "Create";
        }
        else
        {
            // Edit
            Title = "Edit";
            Product = await _productRepository.GetAsync(Id);
            OldImageUrl = Product.ImageUrl;
        }

        IsLoading = false;
        StateHasChanged();
    }

    private async Task UpsertProduct()
    {
        // Create Product
        if (Product.Id == 0)
        {
            await _productRepository.CreateAsync(Product);
            await _jsRuntime.ToastrSuccess("Product created successfully");
        }
        // Update Product
        else
        {
            if (OldImageUrl != Product.ImageUrl)
            {
                _fileUploadService.DeleteFile(OldImageUrl);
            }

            await _productRepository.UpdateAsync(Product);
            await _jsRuntime.ToastrSuccess("Product updated successfully");
        }
        _navigationManager.NavigateTo("/product");
    }

    private async Task HandleImageUpload(InputFileChangeEventArgs e)
    {
        IsLoading = true;

        try
        {
            if (e.GetMultipleFiles().Count > 0)
            {
                foreach (var file in e.GetMultipleFiles())
                {
                    var fileInfo = new System.IO.FileInfo(file.Name);
                    string[] allowedExtensions = { ".jpg", ".jpeg", ".png", ".webp" };

                    if (allowedExtensions.Any(ext => ext == fileInfo.Extension.ToLower()))
                    {
                        Product.ImageUrl = await _fileUploadService.UploadFileAsync(file);
                    }
                    else
                    {
                        await _jsRuntime.ToastrError("Invalid file type. File must be .jpg, .jpeg, .png, or .webp");
                        break;
                    }
                }
            }
        }
        catch (Exception ex)
        {
            await _jsRuntime.ToastrError(ex.Message);
        }
        finally
        {
            IsLoading = false;
        }
    }
}
