@page "/product"

@inject IProductRepository _productRepository
@inject IFileUploadService _fileUploadService
@inject IJSRuntime _jsRuntime
@inject NavigationManager _navigationManager

<_DeleteConfirmation OnDeleteConfirm="@HandleConfirmDelete" IsParentComponentProcessing="@IsLoading" />
<div class="row mt-4">
    <div class="col-6">
        <h4 class="card-title text-primary">Product List</h4>
    </div>
    <div class="col-4 offset-2">
        <a href="product/create" class="btn btn-primary form-control">Add New Product</a>
    </div>
    <div class="col-12 mt-4">
        @if (Products.Count() > 0)
        {
            <table class="table table-bordered border-dark">
                <thead>
                    <tr class="bg-dark text-white">
                        <th>Name</th>
                        <th>Is Shop Favorite</th>
                        <th>Is Customer Favorite</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var product in Products)
                    {
                        <tr>
                            <td>@product.Name</td>
                            <td>
                                <input type="checkbox" disabled checked="@product.IsShopFavorite" />
                            </td>
                            <td>
                                <input type="checkbox" disabled checked="@product.IsCustomerFavorite" />
                            </td>
                            <td>@product.Category.Name</td>
                            <td>
                                <NavLink href="@($"/product/edit/{product.Id}")" class="btn btn-sm btn-primary">Edit</NavLink>
                                <NavLink href="@($"/product/price/{product.Id}")" class="btn btn-sm btn-dark">Price</NavLink>
                                <button class="btn btn-sm btn-danger"
                                        @onclick="() => ShowDeleteConfirmationModal(product.Id)">
                                    Delete
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            if (IsLoading)
            {
                <_Loader />
            }
            else
            {
                <p class="text-center">No products found</p>
            }
        }
    </div>
</div>

@code {
    private IEnumerable<ProductDto> Products { get; set; } = new List<ProductDto>();
    private bool IsLoading { get; set; }
    private int DeleteProductId { get; set; } = 0;

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationState { get; set; }

    protected async override Task OnInitializedAsync()
    {
        var authState = await AuthenticationState;

        if (!authState.User.Identity.IsAuthenticated)
        {
            var currentUri = new Uri(_navigationManager.Uri);

            _navigationManager.NavigateTo($"/identity/account/login?returnUrl={currentUri.LocalPath}", true);
        }
        else if (!authState.User.IsInRole(Sd.Role_Admin))
        {
            // Redirecting to Error Page if user is not in Admin role
            _navigationManager.NavigateTo("/ErrorPage");
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadProductsAsync();
        }
    }

    private async Task LoadProductsAsync()
    {
        IsLoading = true;
        StateHasChanged();

        Products = await _productRepository.GetAllAsync();

        IsLoading = false;
        StateHasChanged();
    }

    private async Task ShowDeleteConfirmationModal(int id)
    {
        DeleteProductId = id;
        await _jsRuntime.InvokeVoidAsync("showDeleteConfirmationModal");
    }

    private async Task HandleConfirmDelete(bool isConfirmed)
    {
        if (isConfirmed && DeleteProductId != 0)
        {
            IsLoading = true;

            var productFromDb = await _productRepository.GetAsync(DeleteProductId);
            // Delete product image if it is not the default image
            if (!productFromDb.ImageUrl.Contains("default.png"))
            {
                _fileUploadService.DeleteFile(productFromDb.ImageUrl);
            }

            // Delete product from the database
            await _productRepository.DeleteAsync(DeleteProductId);
            await _jsRuntime.ToastrSuccess("Product deleted successfully");
            await LoadProductsAsync();
            await _jsRuntime.InvokeVoidAsync("hideDeleteConfirmationModal");

            IsLoading = false;
        }
    }
}
