@page "/details/{productId:int}"

@inject IProductService _productService;
@inject ICartService _cartService;
@inject NavigationManager _navigationManager;
@inject IJSRuntime _jsRuntime;

<PageTitle>Product Details</PageTitle>

@if (IsProcessing)
{
    <div style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-100px;">
        <img src="images/ajax-loader.gif" />
    </div>
}
else
{
    <EditForm method="post" OnValidSubmit="AddToCart" Model="@DetailsVm">
        <DataAnnotationsValidator />
        <div class="card container mt-4">
            <div class="card-header ml-0  row">
                <div class="col-12 col-md-6">
                    <h1 class="text-primary">@Product.Name</h1>
                </div>

                <div class="col-12 col-md-6 text-end pt-4">
                    <span class="badge bg-info pt-2" style="height:30px;">@Product.Category.Name</span>
                    <span class="badge bg-warning pt-2" style="height:30px;">@Product.Color</span>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-10">
                            <p>@((MarkupString)Product.Description)</p>
                            <div class="row">
                                @foreach (var item in Product.ProductPrices)
                                {
                                    if (item.Id == DetailsVm.SelectedProductPriceId)
                                    {
                                        // This product is selected by the user
                                        <div class="col-2 bg-light text-center pt-2 m-2"
                                             style="border:2px solid #28A745; border-radius:10px;box-shadow:5px">
                                            <p class="fw-bold">@item.Size</p>
                                            <p>@item.Price.ToString("C")</p>
                                        </div>
                                    }
                                    else
                                    {
                                        // All other projects
                                        <div class="col-2 bg-light text-center pt-2 m-2"
                                             style="border: 2px solid #bebebe; border-radius:10px;box-shadow:5px"
                                             @onclick="(args) => HandleProductPriceSelect(args, item.Id)">
                                            <p class="fw-bold">@item.Size</p>
                                            <p>@item.Price.ToString("C")</p>
                                        </div>
                                    }

                                }

                                @if (Product.ProductPrices.Count == 0)
                                {
                                    <p class="alert alert-warning">No sizes available yet.</p>
                                }

                                <div class="row pl-2">
                                    <div class="col-2 text-primary"><h4>Count</h4></div>
                                    <div class="col-10">
                                        <InputNumber class="form-control" @bind-Value="DetailsVm.Count" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <img src="@Product.ImageUrl" alt="@Product.Name" class="rounded w-100 img-thumbnail" />
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12 col-md-6 pb-1">
                            <a class="btn btn-success form-control " href="/">Back to Home</a>
                        </div>
                        <div class="col-12 col-md-6 pb-1">
                            <button type="submit"
                                    value="Add to Cart"
                                    class="btn btn-primary form-control"
                                    disabled="@(DetailsVm.SelectedProductPriceId == 0)">
                                Add to Cart
                            </button>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </EditForm>
}


@code {
    [Parameter]
    public int ProductId { get; set; }

    public ProductDto Product { get; set; } = new();
    public bool IsProcessing { get; set; }
    public DetailsVm DetailsVm { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        IsProcessing = true;

        Product = await _productService.GetAsync(ProductId);

        IsProcessing = false;
    }

    private void HandleProductPriceSelect(MouseEventArgs e, int productPriceId)
    {
        DetailsVm.SelectedProductPriceId = productPriceId;
        DetailsVm.ProductPrice = Product.ProductPrices.FirstOrDefault(pp => pp.Id == productPriceId)!;
    }

    private async Task AddToCart()
    {
        ShoppingCart shoppingCart = new()
        {
            Count = DetailsVm.Count,
            ProductId = ProductId,
            ProductPriceId = DetailsVm.SelectedProductPriceId,            
        };

        await _cartService.IncrementCart(shoppingCart);
        _navigationManager.NavigateTo("/");
        await _jsRuntime.ToastrSuccess("Product added to cart successfully");
    }
}
